body{
    background-color: black;
}
.home{
    margin-left: 60px;
    margin-right: 40px;
}
.about h1{
color:white;
text-align: center;
font-weight: bold;
margin-top: 10px;
margin-left: 40px;
}
.about-1 h1{
    color: #EECB7F;
}
.about p{
    color:white;
    margin-top: 30px;
    margin-left: 30px;
    font-size: medium;
}
.about-2 p{
    color: #989898;
    font: 16px Lato, sans-serif;
    margin-top: 20px;
}
.about ul li{
    color:goldenrod;
    margin-top: 30px;
    margin-left: 30px;
    list-style: none;
    cursor: pointer;
    font-size: small;
}
.cart img{
    height: 320px;
    width: 420px;
    margin: 50px;
    border-radius: 5px;
}